<%= link_to 'ブログ新規作成', new_blog_path %>

<input class="form-control" id="search_word" type="text" placeholder="ブログタイトル">

<table class="table table-striped">
  <thead class="bg-danger text-white">
    <tr>
      <th>タイトル</th>
    </tr>
  </thead>
  <tbody id="search_table">
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td>
          <%= link_to '詳細', blog_path(blog), class: 'btn btn-primary' %>
          <%= link_to '編集', edit_blog_path(blog), class: 'btn btn-secondary' %>
          <%= link_to '削除', blog_path(blog), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    $("#search_word").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#search_table tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>
