<%= link_to 'ブログ新規作成', '/blogs/new' %>
<% @blogs.each do |blog| %>
  <p><%= blog.title %></p>
  <%= link_to '詳細', "/blogs/#{blog.id}" %>
  <%= link_to '編集', "/blogs/#{blog.id}/edit" %>
  <%= link_to '削除', "/blogs/#{blog.id}", method: :delete, data: { confirm: '本当に削除しますか？' } %>
<% end %>
