<%= link_to 'ブログ新規作成', new_blog_path %>
<% @blogs.each do |blog| %>
  <p><%= blog.title %></p>
  <%= link_to '詳細', blog_path(blog) %>
  <%= link_to '編集', edit_blog_path(blog) %>
  <%= link_to '削除', blog_path(blog), method: :delete, data: { confirm: '本当に削除しますか？' } %>
<% end %>
